.movieListContainer {
    list-style: none;
        padding: 0;
}

.movieLink {
    display: block;
    margin-bottom: 8px;
    text-decoration: none;
    color: rgb(51, 51, 51);
    font-weight: bold;
    transition: color 0.3s ease;
}

.movieLink:hover {
    color: #ff4500;
}